//colors
$main-color: #2BA670;
$grey-color: #9c9c9c;
$black-color: #000;
$white-color: #fff;
$color-box-shadow: #e4e4e485;
$light-grey-color: #ddd;
$light-greey:  #f9fafb;
$text-greey:#6b7280;
$greey-blue: #8F9AB8;
$section-color:#F7F6FE;
$title-color: #f0eff8;
$bg-dark: #313131;
$bg-dark-light: #4e4e4e;
//transition
$transition: 300ms;
$main-transition: 0.4s