.bills-section {
  min-height: calc(100vh - 41.88px - 54.5px - 68px);
  .bills-content {
    .section-title {
      font-weight: bold;
      font-size: 18px;
    }
    .theTable {
      overflow: auto;
      .table-container {
        min-width: 1000px;
      }
    }
    .table {
      min-width: 1007px;
      thead {
        tr {
          th {
            text-align: center;
            padding: 10px !important;
          }
        }
      }
      tbody {
        background-color: #ececec;
      }
      tfoot {
        tr {
          border: 1px solid #a9a9a9b8;
          th {
            border: 2px solid #a9a9a9b8;
          }
        }
      }
    }
  }
}
